.item:hover {
    
}

.item{
    position: relative;
    background-color: #f0f0f0;
    margin-top: 4px;
    border-radius: 4px;;
}
*{
    font-family: sans-serif;
}
.item button{
    position: absolute;
    top: 1px;
    right: 1px;
    text-decoration: none;
    background-color: #b6b6b6;
    display: block;
    text-align: center;
    width: 20px;
    color: red;
    border-radius: 50px;
    border-width: 2px;
    border-color: black;
}

.completed {
    text-decoration: line-through;
}